<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<title>xoxo, meeter</title>
</head>
<body>
<header>
    <div id='bar'>

    <nav>
        <ul>
            <il><a class="btn" href="/home">Home</a></il>
            <il><a class="btn" href="/about">About</a></il>
            <il><a class="btn" href="/create">Upload Gossip</a></il>
            <il><a class="btn" href="/profile">Your profile</a></il>
        </ul>
    </nav>
    </div>
    <br>
    <br>
    <br>
    <p id="abt">Hey there upper east siders , gossip girl here ,
    <br> your favorite source of all the latest scandals of iasa.  A little birdy told me you have some scandals to share yourself ,<br>
Well heres your chance , its all anonymous so don't worry about people finding out who you are,<br> and who am I? That's one secret I'll never tell . Xoxo, Meeter</p>

  <!--  </header>
 {%for gossip in gossips%}
<div id='rows'>
		<p class='display' >{{gossips[gossip]['title']}}<br> <br> <br>
		<img id='picss' src="static/images/{{gossips[gossip]['picture']}}"><br> <br>{{gossips[gossip]['gossip']}}</p>
</div>
 {%endfor%} -->

</body>
</html>