<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>xoxo, meeter</title>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <h1 class='welcm'>Xoxo, Meeter</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p id='pur'>Set your gossip free...</p>
    <a href='/signup'><button  id=btn1>Get started</button></a>
    <a href='/signin'><button id=btn2>Already have an account?</button></a>

    
</body>
</html>