<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<title>xoxo, Meeter</title>
</head>
<body>
	<div id='pro'>
		<br>
		<br>
		<br>
		<br>
	    <h5>Your Full name:</h5>
		<p class='info'>{{user['full_name']}}</p><br> <br> <br>
		<h5>Your UserName:</h5>
		<p class='info'>{{user['usernamee']}}</p> <br> <br> 
		<h5>Bio:</h5>
		<p class='info'>{{user['bio']}}</p>
	    
	    <a href="/signout"><button>sign out</button></a>
	</div>


        
</body>
</html>